[Unit]
Description=X server container
Documentation=man:podman-generate-systemd(1)
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=no
TimeoutStopSec=70
ExecStartPre=-/bin/rm -f /root/.Xauthority
ExecStartPre=-/bin/touch /root/.Xauthority
ExecStartPre=-/bin/chown 1000:1000 /root/.Xauthority
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
	--cidfile=%t/%n.ctr-id \
	--cgroups=no-conmon \
	--sdnotify=conmon \
	--rm \
	--detach \
	--tty \
	--volume=/dev:/dev \
	--volume=/tmp/.X11-unix:/tmp/.X11-unix \
	--volume=/home/x:/home/user/ \
	--network=host \
	--privileged \
	--user=root \
	arch-xserver /sbin/init
ExecStop=-/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=-/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all
#	--mount type=volume,source=/tmp/.X11-unix,target=/tmp/.X11-unix,chown=true

[Install]
WantedBy=default.target